@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
}

.menu {
    padding: 16px 0 16px;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu .logo {
    color: #F9FAF8;
    font-size: 24px;
    min-width: fit-content;
}

.menu ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu li {
    min-width: fit-content;
}

.menu a {
    color: #E5E7EB;
    font-size: 18px;
}

.menu a:hover {
    color: #F9FAF8;
}

.menu,
.hero {
    background-color: #1F2937;
}
