@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
}

.menu {
    padding: 16px 0 16px;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu .logo {
    color: #F9FAF8;
    font-size: 24px;
    min-width: fit-content;
}

.menu ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu li {
    min-width: fit-content;
}

.menu a,
.hero p,
.hero .button-like {
    color: #E5E7EB;
    font-size: 18px;
}

.menu a:hover {
    color: #F9FAF8;
}

.menu,
.hero {
    background-color: #1F2937;
}

.hero .container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;


    padding-top: 8vh;
    padding-bottom: 12vh;
}

.hero .text {
    max-width: 440px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;;
}

.hero .button-like {
    display: inline-block;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 0.3em 2.3em;
    margin-top: 20px;
}

.hero .image-like {
    background-color: #6d747d;
    color: #E5E7EB;
    width: 440px;
    height: 220px;
    margin-top: 40px;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 4vh;
    padding-bottom: 12vh;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.info .box {
    border: 3.5px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;

    flex-shrink: 0;
}

.info p {
    padding-top: 8px;
    color: #6d747d;
    max-width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 8vh;
    padding-bottom: 8vh;

}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    color: #1F2937;
    max-width: 790px;
}

.quote .text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    align-self: center;
}

.quote .author {
    font-weight: 800;
    font-size: 20px;
    text-align: right;
    padding: 10px 30px;
    align-self: flex-end;
}